p {
    
    font-size: 16px;
    text-align: left;
    color: black;
}

body {

    background-image: url('../images/pixel.jpg');
    width: 1000px;
    padding: 10px;
    margins: 100px;
}

.container {
background-color: whitesmoke;
align-items: center;
color: darkblue;
padding: 100px;
width: -900px;
}


h1 {
    color: purple;
    text-align: center;
    font-family: cursive;
}

.banner {
    color: purple;
    background-color: gray;

}

.randomNumber {
    height:150px;
    width:150px;
    background-color:whitesmoke;
    color: black;
    font-size: 50px;
    text-align: center;

}

.score {
    height: 150px;
    width:130px;
    background-color: aquamarine;
    position: absolute;
    left: 300px;
    top: 455px;
}


.pic2 { 
    margin-left: 100px; 
    margin-top: -65px;

}

.pic3 {
    margin-left: 200px;
    margin-top: -65px;
}

.pic4 {
    margin-left: 300px;
}

.rockClicks {
background-color: aquamarine;
height: 150px;
width: 260px;
font-size: 30px;
}

.clickBanner {
    background-color: aquamarine;
    width:260px;
    text-align: center;
    height: 75px;
}

.bttn {
    width: 75px;
    height: 55px;
    background-color: red;
    margin: 100px, 50px, 50px, 50px;
}

#crystal-table {

padding: -400 px;
}

#numbers{
    padding: 50px;
}